* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  height: 50px;
  background-color: lightcoral;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}
.low {
  background-color: lightblue;
  border: solid lightblue;
  margin-left: 4px;
  font-weight: bolder;
}

.med {
  background-color: yellow;
  border: solid yellow;
  margin-left: 4px;
  font-weight: bolder;
}

.high {
  background-color: orangered;
  border: solid orangered;
  margin-left: 4px;
  font-weight: bolder;
}

.row {
  margin-top: 40px;
  justify-content: space-between;
}

.search-bar {
  margin-top: 40px;
  margin-bottom: 10px;
}

.search-input {
  margin-top: 10px;
  background-color: lightgrey;
}

ul {
  list-style: none;
}

.card-body {
  display: block
  border: solid black;
  border-radius: 20px;
}

.futureheader {
  opacity: 90;
  background-color: lightcoral;
  border-radius: 20px;
  border: solid black;
  
}

.current-header {
  opacity: 90;
  background-color: lightcoral;
  border-radius: 20px;
  border: solid black;
}

.historybtn {
  opacity: 90;
  background-color: lightblue;
  border-radius: 20px;
  border: solid black;
}

#search-button {
  margin-bottom: 20px;
}
